.LookupForm {
  margin-top: 4rem;
}

.LookupForm-form {
  display: flex;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.LookupForm-input {
  width: 100%;
  flex-grow: 1;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font-family: inherit;
}

.LookupForm-button {
  padding: 20px;
  font-size: 0.9rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-image: linear-gradient(45deg, #fb7f3b, #d4145a);
  flex-grow: 1;
  width: 8rem;
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.LookupForm-button:disabled {
  background-image: linear-gradient(45deg, #aaa, #bbb);
  cursor: not-allowed;
}

.LookupForm-button:focus {
  outline: none;
}

.LookupForm-input:focus {
  outline: none;
}
